.tooltip{
	position:absolute;
	z-index:200;
	display:block;
	visibility:visible;
	padding:5px;
	font-size:1em;
	/*
	opacity:0;
	filter:alpha(opacity=0)
	*/
	
	&.in{
		opacity:.8;
		filter:alpha(opacity=80)
	}
	&.top{
		margin-top:-2px
	}
	&.right{
		margin-left:2px
	}
	&.bottom{
		margin-top:2px
	}
	&.left{
		margin-left:-2px
	}
	&.top .tooltip-arrow{
		bottom:0;
		left:50%;
		margin-left:-5px;
		border-left:5px solid transparent;
		border-right:5px solid transparent;
		border-top:5px solid #000;
	}
	&.left .tooltip-arrow{
		top:50%;
		right:0;
		margin-top:-5px;
		border-top:5px solid transparent;
		border-bottom:5px solid transparent;
		border-left:5px solid #000;
	}
	&.bottom .tooltip-arrow{
		top:0;
		left:50%;
		margin-left:-5px;
		border-left:5px solid transparent;
		border-right:5px solid transparent;
		border-bottom:5px solid #000;
	}
	&.right .tooltip-arrow{
		top:50%;
		left:0;
		margin-top:-5px;
		border-top:5px solid transparent;
		border-bottom:5px solid transparent;
		border-right:5px solid #000;
	}
	.tooltip-inner{
		max-width:240px;
		padding:1em 2em;
		color:#fff;
		text-align:center;
		text-decoration:none;
		background-color:#000;
		-webkit-border-radius:2px;
		-moz-border-radius:2px;
		border-radius:2px;
		font-size:1.2em;
		#site.ff(gr);
	}
	.tooltip-arrow{
		position:absolute;
		width:0;
		height:0;
	}
}
.arrow-slider {
	position:relative;
	#fe.bpos();
	background-size:cover;
	
	.img-block {
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		
		& > .item {
			position:absolute;
			left:0;
			top:0;
			width:100%;
			height:100%;
			
			display:none;
			#fe.bpos();
			background-size:cover;
			
			&.active {
				display:block;
			}
		}
		
	}
	
	.text-content {
		
		
		
	}
	
	.title-block {
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
	}
	
	.arrow-block {
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		
		.point-line {
			position:absolute;
			left:0;
			bottom:5%;
			width:100%;
			margin:0 auto;
			text-align:center;
			
			.item {
				display:inline-block;
				text-align:center;
				width:4em;
				
				&.active {
					& > .point {
						opacity:1;
					}
				}
				
				& > .point {
					display:inline-block;
					width:1em;
					height:1em;
					transition:all @trans-speed ease;
					border-radius:50%;
					opacity:0.5;
					#fe.bg(@c-hex-w);
				}
			}
		}
		
		.btn-arrow {
			position:absolute;
			top:0;
			height:100%;
			width:44px;
			
			&.left {
				left:5%;
				
				& > .picture {
					#fe.bi('.arrow-slider/left.png');
					right:0%;
				}
			}
			&.right {
				right:5%;
				
				& > .picture {
					#fe.bi('.arrow-slider/right.png');
					left:0%;
				}
			}
			
			& > .picture {
				position:absolute;
				height:100%;
				width:100%;
				top:0;
				
				#fe.brep();
				#fe.bpos();
				transition:transform 1s ease;
			}
		}
	}
	
	
	&.mod {
		&.without-points {
			
			.arrow-block .point-line {
				display:none;
			}
			
		}

		&.without-arrows {
			
			.arrow-block .btn-arrow {
				display:none;
			}
			
		}

		&.with-timer {
			
		}
	}
	
	@media @media-size-xs {
		& {
			
		}
	}
	@media @media-size-sm {
		& {
			
		}
	}
	@media @media-size-md {
		& {
			
		}
	}
	@media @media-size-lg {
		& {
			
		}
	}
	@media @media-size-portrait {
		& {
			
		}
	}
	@media @media-size-landscape {
		& {
			
		}
	}
	@media @media-size-retina {
		& {
			
		}
	}
	@media @media-size-print {
		& {
			
		}
	}
}
.btn {
	/*
	#fe.color(@c-hex-b);
	#fe.bg(@c-hex-w);
	#fe.underline(none);
	outline:1px @c-hex-b solid;
	*/
	@default-bg-color:#8f0f0f;
	
	transition:all @trans-speed ease;
	
	&:hover {
		
	}
	
	&:focus {
		
	}
	
	&:active {
		
	}
	
	&:visited {
		
	}
	
	/*
	&[data-state="normal"] {
		
	}
	&[data-state="hover"] { // desktop
		
	}
	&[data-state="clicked"] { // desktop
		
	}
	&[data-state="pressed"] { // touch
		
	}
	&[data-state="selected"] {
		
	}
	&[data-state="disabled"] {
		
	}
	*/
	
	
	&.inline {
		display:inline-block;
	}
	
	&.as-block {
		display:block;
		width:100%;
	}
	
	&.as-link {
		.cleardefault();
		display:inline-block;
		outline:none;
		padding:initial;
		#fe.underline(initial);
		#fe.color(inherit);
		#fe.bg(transparent);
		cursor:pointer;
		
		&:hover {
			#fe.underline();
			#fe.color(inherit);
			#fe.bg(transparent);
		}
	}
	
	&.as-button {
		display:inline-block;
		padding:0.5em 1em;
		#fe.underline(none);
		#fe.color(transparent);
		#fe.bg(@default-bg-color);
		cursor:pointer;
	}
	
	&.on-hover {
		
		&.ch-color {
			
			&.r2w {
				#fe.color(@default-bg-color);
				#fe.bg(transparent);
				
				&:hover {
					#fe.color(#ffffff);
					#fe.bg(@default-bg-color);
				}
			}
			
			&.w2r {
				#fe.color(transparent);
				#fe.bg(@default-bg-color);
				
				&:hover {
					#fe.color(#ffffff);
					#fe.bg(transparent);
				}
			}
			
		}
		
	}
	
	
	/*
	&.mod {
		& {
			
		}
	}
	
	@media @media-size-xs {
		& {
			
		}
	}
	@media @media-size-sm {
		& {
			
		}
	}
	@media @media-size-md {
		& {
			
		}
	}
	@media @media-size-lg {
		& {
			
		}
	}
	@media @media-size-portrait {
		& {
			
		}
	}
	@media @media-size-landscape {
		& {
			
		}
	}
	@media @media-size-retina {
		& {
			
		}
	}
	@media @media-size-print {
		& {
			
		}
	}
	*/
}
.can-close {
	position:relative;
	/*
	transform-origin:center center;
	transition:all @trans-speed ease;
	transform:scale(1);
	*/
	
	&:not(.active) {
		/*
		transform:scale(0);
		visibility:none;
		position:fixed;
		top:-1000%;
		*/
		display:none;
	}
	
	.close-btn {
		position:absolute;
		right:1em;
		top:1em;
		width:1em;
		height:1em;
		background-size:cover;
		#fe.brep();
		#fe.bpos();
		#fe.bi('.can-close/close-btn.png');
	}
	
	
	/*
	&.mod {
		& {
			
		}
	}
	
	@media @media-size-xs {
		& {
			
		}
	}
	@media @media-size-sm {
		& {
			
		}
	}
	@media @media-size-md {
		& {
			
		}
	}
	@media @media-size-lg {
		& {
			
		}
	}
	@media @media-size-portrait {
		& {
			
		}
	}
	@media @media-size-landscape {
		& {
			
		}
	}
	@media @media-size-retina {
		& {
			
		}
	}
	@media @media-size-print {
		& {
			
		}
	}
	*/
}
.fecss-accordion {
	
	&.on-hover {
		.acc-item:hover {
			.body {
				height:auto;
				opacity:1;
			}
		}
	}
	
	.acc-item {
		
		.header  {
			display:block;
			cursor:pointer;
			padding:1em 0;
			
			&:focus + .body {
				height:auto;
				opacity:1;
			}
			
		}
		.body {
			height:0;
			opacity:0;
			transition:all @trans-speed ease;
		}
	}
	
}
.fecss-anim {
	transition:all @trans-speed ease;
	transform-origin:center center;
	
	&:hover {
	
	}
	
	&[data-anim-type="hover-scale-plus"] {
		display:inline-block;
		transition:transform 0.5s ease;
		
		&:hover {
			transform:scale(1.15);
		}
		
	}
	
	&[data-anim-type="hover-scale-minus"] {
		display:inline-block;
		transition:transform 0.5s ease;
		
		&:hover {
			transform:scale(0.85);
		}
		
	}
	
	&[data-anim-type="hover-outline-offset"] {
		outline:1px #ff0000 solid;
		outline-offset:initial;
		transition:outline-offset 0.5s ease;
		
		&:hover {
			outline-offset:1em;
		}
		
	}
}
.fecss-collapse {
	position:relative;
	
	@media @media-size-xs {
		&.collapse-xs {
			.collapser {
				display:block;
			}
			.collapsing {
				display:none;
				position:absolute;
				left:0;
				top:100%;
			}
			&.active {
				.collapsing {
					display:block;
				}
			}
		}
	}
	
	@media @media-size-sm {
		&.collapse-sm {
			.collapser {
				display:block;
			}
			.collapsing {
				display:none;
				position:absolute;
				left:0;
				top:100%;
			}
			&.active {
				.collapsing {
					display:block;
				}
			}
		}
	}
	
	@media @media-size-md {
		&.collapse-md {
			.collapser {
				display:block;
			}
			.collapsing {
				display:none;
				position:absolute;
				left:0;
				top:100%;
			}
			&.active {
				.collapsing {
					display:block;
				}
			}
		}
	}
	
	@media @media-size-lg {
		&.collapse-lg {
			.collapser {
				display:block;
			}
			.collapsing {
				display:none;
				position:absolute;
				left:0;
				top:100%;
			}
			&.active {
				.collapsing {
					display:block;
				}
			}
		}
	}
	
	.collapser {
		position:relative;
		display:none;
	}
	
	.collapsing {
		position:relative;
	}
	
}
.fecss-jssearch {
	display:inline-block;
	outline:1px #ffff00 solid;
	outline-offset:2px;
	#fe.bg(#ffff00);
}
.fecss-modal {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	#fe.bg(rgba(0, 0, 0, 0));
	display:none;
	z-index:-10;
	transition:all @trans-speed ease;
	opacity:0;
	
	&.active {
		display:block;
		z-index:200;
		opacity:1;
		#fe.bg(rgba(0, 0, 0, 0.5));
		
		&.in-bg {
			z-index:190;
		}
	}
	
	.black-container {
		position:absolute;
		left:0;
		top:-100%;
		width:100%;
		z-index:200;
		transition:all @trans-speed ease;
	}
	
	.white-container {
		position:relative;
		margin-left:auto;
		margin-right:auto;
		z-index:250;
		#fe.bg(#ffffff);
		padding:2em;
		display:none;
		
		&.active {
			display:block;
			
			&.in-bg {
				z-index:240;
				display:none;
			}
		}
			
		@media @media-size-xs {
			& {
				width:100%;
			}
		}
		@media @media-size-sm {
			& {
				max-width:750px;
				width:100%;
			}
		}
		@media @media-size-md {
			& {
				max-width:970px;
				width:100%;
			}
		}
		@media @media-size-lg {
			& {
				max-width:1170px;
				width:100%;
			}
		}
		
		.hide-modal {
			position:absolute;
			right:2em;
			top:2em;
			#fe.w(1.5em);
			#fe.h(1.5em);
			background-position:center center;
			background-repeat:no-repeat;
			background-size:cover;
			#fe.bi('.fecss-modal/hide-modal.png');
		}
	}
	
}
	.go-to-top {
		position:fixed;
		opacity:0;
		z-index:-1;
		bottom:120%;
		right:10%;
		content:'';
		display:inline-block;
		width:1px;
		height:1px;
		#fe.brep();
		#fe.bpos();
		#fe.bi('go-to-top.png');
		text-decoration:none;
		
		transition:all 0.999s ease;
		
		&.active {
			width:65px;
			height:65px;
			bottom:10%;
			opacity:1;
			z-index:15;
			
			&:hover {
				transform:scale(1.2);
			}
		}
	}
.line-gallery {
	position:relative;
	#fe.bpos();
	background-size:cover;
	
	.img-block {
		
		& > .item {
			
		}
		
	}
	
	.arrow-block {
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		
		.point-line {
			display:none;
		}
		
		.btn-arrow {
			position:absolute;
			top:0;
			height:100%;
			width:44px;
			
			&.left {
				left:5%;
				
				& > .picture {
					#fe.bi('.arrow-slider/left.png');
					right:0%;
				}
			}
			&.right {
				right:5%;
				
				& > .picture {
					#fe.bi('.arrow-slider/right.png');
					left:0%;
				}
			}
			
			& > .picture {
				position:absolute;
				height:100%;
				width:100%;
				top:0;
				
				#fe.brep();
				#fe.bpos();
				transition:transform 1s ease;
			}
		}
	}
	
	
	&.mod {
		&.without-points {
			
			.arrow-block .point-line {
				display:none;
			}
			
		}

		&.without-arrows {
			
			.arrow-block .btn-arrow {
				display:none;
			}
			
		}

		&.with-timer {
			
		}
	}
	/*
	
	@media @media-size-xs {
		& {
			
		}
	}
	@media @media-size-sm {
		& {
			
		}
	}
	@media @media-size-md {
		& {
			
		}
	}
	@media @media-size-lg {
		& {
			
		}
	}
	@media @media-size-portrait {
		& {
			
		}
	}
	@media @media-size-landscape {
		& {
			
		}
	}
	@media @media-size-retina {
		& {
			
		}
	}
	@media @media-size-print {
		& {
			
		}
	}
	*/
}
.page-container {
	.mp0();
}
		.full-screen.page-loader {
			@dark-el-color-bg:rgba(0,0,0,0.75);
			@dark-el-color-font:#ffffff;
			
			@semi-dark-el-color-bg:rgba(0,0,0,0.4);
			@semi-dark-el-color-font:#ffffff;
			
			transition: all 0.7s ease;
			
			opacity:0;
			height: 0%;
			
			&.active {
				opacity:1;
				height: 100%;
			}
			
			.process-container {
				display:block;
				position:relative;
				width:300px;
				height:3em;
				line-height:3em;
				margin:2em auto;
				white-space:nowrap;
				#fe.uppercase(lowercase);
				#fe.bold();
				#fe.size(1em);
				#fe.bg(transparent);
				#fe.color(@dark-el-color-font);
				
				.process-level {
					position:absolute;
					left:50%;
					top:0;
					display:block;
					width: 0%;
					height:100%;
					margin:0 auto;
					z-index:0;
					overflow-x:hidden;
					text-align:center;
					#fe.underline(none);
					
					#fe.bg(@dark-el-color-font);
					animation: processloading 1s infinite;
				}
				
			}
			
			.close-loader {
				display:block;
				margin:2em auto;
				width:30em;
				height:3em;
				line-height:3em;
				#fe.bold();
				#fe.size(1em);
				#fe.underline(none);
				#fe.uppercase();
				#fe.bg(@dark-el-color-font * 0.6);
				#fe.color(@dark-el-color-bg);
				
				transition: all 0.4s ease;
				
				&:hover {
					#fe.bg(@dark-el-color-font);
				}
			}
		}
.scroll-hide {
	overflow:hidden;
	
	.scroll-element {
		overflow:scroll;
		//width:110%;
		
		.scroll-overflow {
			overflow:scroll;
		}
	}
}

.scroll-container {
	position:absolute;
	
	&.vertical {
		#fe.w(5px);
		//#fe.h(90%);
		left:10px;
		top:12px;
		bottom:16px;
		
		&.left {
			left:10px;
			right:initial;
		}
		&.right {
			left:initial;
			right:13px;
		}
		
		.scroll-line {
			#fe.w(1px);
			#fe.h(94%);
			top:4%;
			left:50%;
			
			.scroll {
				#fe.w(500%);
				#fe.h(10%);
				left:-200%;
				
				&.ball {
					& > .scroll-ball {
						left: -10px;
						top:50%;
						#fe.w(24px);
						#fe.h(24px);
						#fe.bpos();
						#fe.brep();
						#fe.bsize(contain);
						#site.bi('default/.scroll-container/scroll-ball-bg.png');
					}
				}
			}
		}
		
	}
	
	.scroll-line {
		position:absolute;
		#fe.bg(rgba(174, 174, 174, 0.2));
		
		.scroll {
			position:absolute;
			left:0;
			top:0;
			#fe.bg(rgba(174, 174, 174, 0.2));
			border-radius:0px;
			
			& > .scroll-ball {
				display:none;
			}
			
			&.ball {
				#fe.bg(transparent);
				
				& > .scroll-ball {
					display:block;
					content:'';
					position:absolute;
				}
			}
		}
	}
	
}
.top-fixed {
	
	position:fixed;
	left:0;
	top:0;
	width:100%;
	
	/*
	&.mod {
		& {
			
		}
	}
	
	@media @media-size-xs {
		& {
			
		}
	}
	@media @media-size-sm {
		& {
			
		}
	}
	@media @media-size-md {
		& {
			
		}
	}
	@media @media-size-lg {
		& {
			
		}
	}
	@media @media-size-portrait {
		& {
			
		}
	}
	@media @media-size-landscape {
		& {
			
		}
	}
	@media @media-size-retina {
		& {
			
		}
	}
	@media @media-size-print {
		& {
			
		}
	}
	*/
}
body {
	
	&[class*='theme-'], *[class*='theme-'] {
		
		&.theme-dev {
			
			@dbg-dline-w:2px;
			@dbg-sline-w:1px;
			@dbg-hover-sline-w:5px;
			
			outline: @dbg-dline-w dotted red;
			#fe.bi('chess-bg.png');
			
			* {
				outline:@dbg-dline-w dotted green;
				
				&:hover {
					outline:@dbg-hover-sline-w solid black;
				}
				
				& * {
					outline:@dbg-dline-w dotted orange;
					
					& * {
						outline:@dbg-dline-w dotted blue;
						
						& * {
							outline:@dbg-sline-w solid red;
							
							& * {
								outline:@dbg-sline-w solid green;
								
								& * {
									outline:@dbg-sline-w solid orange;
									
									& * {
										outline:@dbg-sline-w solid blue;
									}
								}
							}
						}
					}
				}
			}
			
		}
		&.theme-b0w {
			#fe.color(#000000);
			#fe.bg(#ffffff);
		}
		&.theme-w0b {
			#fe.color(#ffffff);
			#fe.bg(#000000);
		}
		
	}
	
	&.theme-sunny, &[data-theme="sunny"] {
		
	}
	&.theme-starry, &[data-theme="starry"] {
		
	}
	
	&, &[data-state="default"] {
		
	}
	
	
	&.body-yandex-map {
		position:relative;
		.mp0();
		#fe.h(100%);
		#fe.w(100%);
		
		.yandex-map {
			position:absolute;
			left:0;
			right:0;
			top:0;
			bottom:0;
		}
	}
}
.footer-site{
	//opacity: @opacity;
}
._index__header-site{
	font-size: 18px;
	line-height: 24px;
	color: @white;
	margin-bottom: 100px;
	background: linear-gradient(to bottom, fadeout(@black, 65%) 0%, fadeout(@black, 100%) 100%);
	@media @media-size-xs{
		text-align: center;
		margin-bottom: 35px;
	}
	@media @media-size-sm-p{
		margin-bottom: 35px;
		font-size: 16px;
		line-height: 22px;		
	}
	@media @media-size-sm-l{
		margin-bottom: 35px;
		font-size: 16px;
		line-height: 22px;
	}
	@media @media-size-md{
		margin-bottom: 100px;
		font-size: 16px;
		line-height: 22px;
	}
	@media @media-size-lg{
		margin-bottom: 100px;
	}
	@media @media-screen-HD720 {
		margin-bottom: 15px;
	}
	@media @media-size-xl{
		margin-bottom: 120px;
	}
	@media @media-size-xl1660{
		margin-bottom: 100px;
	}
	@media @media-screen-WXGA768 {
		margin-bottom: 20px; 
	}
	@media @media-screen-WSXGA900 {
		margin-bottom: 40px; 
	}
	a{
		color: @white;
	}
} 
._hs__flex{
	justify-content: space-between;
	@media @media-size-xs {
		flex-wrap: wrap;
	}
}
._hs__logo-block{
	&._col{
		margin-right: @grid_margin - 5px;
		margin-left:  @grid_margin - 5px;
		._cb__col{
			padding-right: @grid_padding + 5px;
			padding-left:  @grid_padding + 5px;
		}
		@media @media-size-xs {			
			width: 100%;
			margin: 0;
			flex-wrap: wrap;
			._cb__col{
				padding-left: 0;
				padding-right: 0;
				width: 100%;
			}
		}
		@media @media-size-sm-p{
			margin-right: @grid_margin;
			margin-left:  @grid_margin;
			._cb__col{
				padding-right: @grid_padding;
				padding-left:  @grid_padding;
			}
		}
		@media @media-size-md{
			margin-right: @grid_margin;
			margin-left:  @grid_margin;
			._cb__col{
				padding-right: @grid_padding;
				padding-left:  @grid_padding;
			}
		}
	}
}
._hs__logo{
	@media @media-size-xs{
		display: none;
		img{margin: 0 auto}
	}
	@media @media-size-sm-l{
		width: 150px;
	}
	@media @media-size-md{
		width: 150px;
	}
}
._hs__address{
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.13);
	padding-top: 45px;
	@media @media-size-sm-p{
		padding-top: 25px;
	}
	@media @media-size-sm-l{
		padding-top: 35px;
	}
}
._hs__address-link{
	a{
		font-size: 15px;
		font-family: @proxima-bold;
		text-transform: uppercase;
		text-shadow: none;
		line-height: 32px;
		text-decoration: none;
		transition: @transition-site;
		&:before{
			font-family: @icon;
			content: @icon-location;
			margin-right: 5px;
		}
		&:focus{
			text-decoration: none;
			color: inherit;
		}
		&:hover{
			color: @yellow;
		}
	}
}
._hs__phone-block{
	align-items: center;	
	@media @media-size-xs{		
		flex-wrap: wrap;
		._cb__col{
			width: 100%;
		}
	}
	@media @media-size-xs-l{
		width: 100%;
		margin: 0!important;
	}
	@media @media-size-sm-p{
		flex-wrap: wrap;
		justify-content: flex-end;
	}
}
._hs__phone{
	a{
		color:  @white;
		font-size: 24px;
		line-height: 30px;
		text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.13);
		@media @media-size-sm-l{
			font-size: 22px;
			line-height: 28px;
		}
		@media @media-size-md{
			font-size: 22px;
			line-height: 28px;
		}
	}
	@media @media-size-xs{
		margin-bottom: 25px;
	}
	@media @media-size-sm-p{
		margin-top: 20px;
		a{
			font-size: 20px;
			line-height: 26px;			
		}
	}
}

.navbar-site{
	background: @white;
	//opacity: @opacity;    
	padding: 18px 0;
	border-top: 1px solid #e8e8e8;
	&.navbar-fixed-bottom{
		@media @media-size-xs{			
			bottom: inherit;
			top: 0;
		}
	}
}
._nh__logotip{
	display: none;
	@media @media-size-xs {
		display: block;    
		float: left;
	}
	@media @media-size-xs-p {
		max-width: 90px;
		padding: 20px 15px
	}
	@media @media-size-xs-l {
		max-width: 80px;
		padding: 10px 15px;
	}
}
._czr__navbar-nav{
	display: flex;
	width: 100%;
	justify-content: center;
	> li{
		margin: 0 35px;
		> a{
			text-transform: uppercase;
			font-size: 14px;
			color: lighten(@black, 20%);
			//padding: 30px 15px;
			padding: 20px 15px;
			letter-spacing: 0.7px;
			transition: @transition-site;
			span{
				transition: @transition-site;
				border-bottom: 1px solid fadeout(@black, 80%);
			}
			&:before{
				font-family: @icon;
				vertical-align: middle;
				font-size: 28px;
				line-height: 28px;
				margin-right: 20px;
				color: #50994d;
				color: @green;
				transition: @transition-site;
				@media @media-size-sm-l{
					display: block;
					margin: 0 auto 5px;
					width: 28px;
				}
				@media @media-size-md {
					display: block;
					margin: 0 auto 5px;
					width: 28px;
				}
			}
			&.icon-location-map{
				&:before{
					content: @icon-location-map;
				}
			}
			&.icon-building{
				&:before{
					content: @icon-building;
				}
			}
			&.icon-ribbon{
				&:before{
					font-size: 40px;
					content: @icon-ribbon;
				}
			}
			&.icon-silhouette{
				&:before{
					content: @icon-silhouette;
				}
			}
			&.icon-money{
				&:before{
					content: @icon-money;
				}
			}
			&.icon-construction{
				&:before{
					font-size: 30px;
					content: @icon-construction;
				}
			}
			&:hover{
				color: @black;
				&:before{
					color: @dark-blue;					
				}
				span{border-color: fadeout(@black, 100%)}
			}
			&:hover,
			&:focus{
				background: transparent;
			}			
		}
		&.active{
			> a{
				color: @black;
				span{border-color: fadeout(@black, 100%)}
				&:before{color: @dark-blue;}
			}
		}
	}
	@media @media-size-xs{
		flex-wrap: wrap;
		justify-content: flex-start;
		> li{
			width: 100%;
			> a{
				padding: 10px 15px;
			}
		}
	}
	@media @media-size-xs-l{
		> li{
			width: 50%;
		}
	}
	@media @media-size-sm-p{
		flex-wrap: wrap;
		justify-content: center;
		> li{
			> a{
				padding: 15px;
			}
		}
	}
	@media @media-size-sm-l{
		> li{
			> a{
				padding: 15px;
			}
		}
	}
	@media @media-screen-HD720 {
		> li{
			> a{
				padding: 15px;
			}
		}

	}
}
/* -----------------------------------------------------------------------------

  HAMBURGER ICONS COMPONENT
  
----------------------------------------------------------------------------- */
/**
 * Toggle Switch Globals
 *
 * All switches should take on the class `c-hamburger` as well as their
 * variant that will give them unique properties. This class is an overview
 * class that acts as a reset for all versions of the icon.
 */
.c-hamburger {
	display: block;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 86px;
	height: 66px;
	font-size: 0;
	text-indent: -9999px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	border: none;
	cursor: pointer;
	transition: background 0.3s;
	background: none;
	@media @media-size-xs{
		float: right;
		width: 86px;
	}
	@media @media-size-xs-p{margin-top: 15px}
	@media @media-screen{
		display: none;
	}
	&:focus {
		outline: none;
	}
	span {
		display: block;
		position: absolute;
		top: 44px;
		left: 18px;
		right: 18px;
		height: 8px;
		background: @green;
		&:before,
		&:after {
			position: absolute;
			display: block;
			left: 0;
			width: 100%;
			height: 8px;
			background: @green;
			content: "";
		}
		&:before{
			top: -20px;
		}
		&:after {
			bottom: -20px;
		}
			
		//@media @media-size-xs{			
			height: 5px;
			top: 30px;
			&:before,
			&:after {
				height: 5px;
			}
			&:before{
				top: -17px;
			}
			&:after {
				bottom: -17px;
			}
		//}
	}
}

/**
 * Style 2
 * 
 * Hamburger to "x" (htx). Takes on a hamburger shape, bars slide
 * down to center and transform into an "x".
 */
.c-hamburger--htx {
  //background-color: #ff3264;
}

.c-hamburger--htx span {
  -webkit-transition: background 0s 0.3s;
          transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
          transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
          transition-property: top, 'transform';
}

.c-hamburger--htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
          transition-property: bottom, 'transform';
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  //background-color: #cb0032;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  -webkit-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s;
}

.error-page{
	//opacity: @opacity;
	&.page-content-cont{
		.bear{
			right: 14.5em;
   	 		top: 4.5em;
		}
	}
}
.about-page{
	//opacity: @opacity;
	.blue-box{
		max-width: 995px;
	}
}
.advantage-page{
	//opacity: @opacity;
	&.page-content-cont{
		.bear{
			background-size: 107px;
			right: 40em;
			top: .6em;
		}
	}
}
.contacts-page{
	//opacity: @opacity;
	&.page-content-cont{
		.bear{
			background-size: 107px;
			right: 40em;
			top: .6em;
		}
	}
	.yandex-map{
	    display: block;
		position: absolute;
		left: 0;
		top: 0;
		border: none;
		width: 100%;
		height: 100%;
	}
}
.doc-page{
	//opacity: @opacity;
	.blue-box {max-width:925px;}
	&.page-content-cont{
		.bear{
			background-size: 107px;
			right: 18em;
			top: 49.3em;
		}
	}
}
.gallery-page{
	//opacity: @opacity;
	&.page-content-cont{
		.bear{
			background-size: 107px;
			right: 40em;
			top: .6em;
		}
	}
}
.hypothec-page{
	//opacity: @opacity;
	.content-header{
		padding: 90px 80px 30px 190px;
	}
	&.page-content-cont{
		.bear{
			background-size: 107px;
			right: 40em;
			top: .6em;
		}
	}
	.content-scroll{
		margin-top: 25px;
	}
}
.cont-bank-filters{
	padding-left: 190px;
	padding-right: 190px;
}
.bank-filters{
	display: flex;
	justify-content: space-between;
	margin: 0 -10px;
	.bttn{
		padding: 0 10px;
		span{
			display: block;
			border: 1px solid #d6d6d6;
			transition: @transition-site;
			img{
				transition: @transition-site;
				filter: grayscale(100%);
			}
		}
		&:hover{
			span{
				border: 1px solid fadeout(#d6d6d6, 50%);	
				img{
					filter: grayscale(30%);
				}		
			}
		}
		&.active{
			cursor: default;
			span{
				border: 1px solid fadeout(#d6d6d6, 100%);	
				img{
					filter: grayscale(0%);
				}		
			}
		}
	}
}
._hp__content-scroll{
	margin-right: 40px;  
	padding-right: 145px;
	padding-bottom: 40px;
} 
._hp__blue-box{
	padding: 25px 40px 35px 190px;
	._heading{
		font-family: @proxima-bold;
	    font-size: 32px;
   		line-height: 42px;
   		margin-bottom: 30px;
	}
	._flex-block{
	    font-size: 30px;
   		line-height: 36px;
		font-family: @proxima-light;
		align-items: center;
		._title{
			font-family: @bebas;
			text-transform: uppercase;    
			font-size: 18px;
    		line-height: 26px;
    		letter-spacing: 1.2px;
		}
		._cb__col{
			&:nth-child(1){width: 27%}
			&:nth-child(2){width: 23%}
			&:nth-child(3){width: 22%}
			&:nth-child(4){width: 28%}
		}
		.btn-site{
			line-height: 50px;
			font-family: @proxima-bold;    
			font-size: 13px;
		}
	}
}
._hp__content{
	padding-left: 190px;
	margin-top: 35px;
	font-family: @proxima;
	font-size: 16px;
	line-height: 21px;
	b, strong{font-family: @proxima-semibold;}
	h1, h2, h3, h4, h5, h6{
		color: #262262;
		text-transform: uppercase;
		font-family: @proxima-bold;
	}
	h4{
		font-size: 16px;
		line-height: 24px;
		letter-spacing: .3px;
		margin-bottom: 25px;
	}
	ul{
		list-style: none;
		margin-bottom: 15px;
		li{
			margin-bottom: 15px;
			&:before{
				content: '';
				width: 7px;
				height: 7px;
				display: inline-block;
				background: @dark-green;
				border-radius: 50%;
				margin-right: 15px;
				float: left;    
				margin-top: 7px;
			}
		}
	}
}

.location-page{
	//opacity: @opacity;
	.content-cont.top{
		box-shadow: 0px 5px 10px fadeout(@black, 80%);
		.content-header span {
		    text-align: center;
		    padding: 42px 200px;
		}
	}
}
.news-page{
	//opacity: @opacity;
	&.page-content-cont{
		.bear{
			background-size: 107px;
			right: 40em;
			top: .6em;
		}
	}
}

.b-advantage-list {
	margin-top:13px;
	
	.advantage-item {
		position:relative;
		padding:0 40px 83px 63px;
		
		.num {
			position:absolute;
			left:0;
			top:0;
			#fe.bold(700);
			#fe.color(#6ea93a);
			#fe.size(78px);
			#fe.ff(@proxima);
			#fe.lh(1em);
		}
		.title {
			margin-bottom:10px;
			#fe.bold(400);
			#fe.color(#262262);
			#fe.size(22px);
			#fe.lh(24px);
			#fe.ff(@bebas-bold);
			letter-spacing: 0.8px;
		}
		.preview {
			#fe.bold(400);
			#fe.color(#000000);
			#fe.size(14px);
			#fe.lh(20px);
			#fe.ff(@proxima);
		}
	}
	
}
.b-contacts{
	padding: 30px 0px 75px;
	.b-contacts-flex{
		display: flex;
		margin: 0 -15px;
	} 
	.heading{
		color: @dark-blue; 
		text-transform: uppercase;
		font-family: @proxima-bold;
		font-size: 15px;
		margin-bottom: 5px;
	}
	.note{
		font-size: 16px;
		line-height: 20px;
	}
	.b-contacts-item{
		display: flex;
		align-items: center;
		padding: 5px 15px 0;
		color: #212121;
		a{color: #212121;}
		&:before{
			font-family: @icon;
			float: left;
			font-size: 60px;
			line-height: 60px;
			color: #6ea93a;
			margin-right: 10px;
		}
		&.map{
			width: 44%;
			&:before{
				content: @icon-location2;
				margin-left: -10px;
			}
		}
		&.smart{
			width: 40%;
			&:before{
				content: @icon-smart;
			}
		}
	}
	.b-contacts-item-soc{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0 15px;
		width: 16%;
		.icon{
			text-decoration: none;
			&:before{
				font-family: @icon;
				display: block;
				font-size: 28px;
				line-height: 28px;
				transition: all 0.25s linear;
			}
			&.icon-vk:before{
				content: @icon-vk;
				color: #4c75a3;
			}
			&.icon-fb:before{
				content: @icon-fb;
				color: #3b559f;
			}
			&:hover{
				&:before{
					transform: scale(1.1);
				}
			}
		}
	}
}
.cont-form{
	.b-form{
		max-width: 545px; 
	}
}
.b-form{
	._heading{
		font-family: @proxima-bold;
		text-transform: uppercase;
		color: @dark-blue;
		font-size: 15px;    
		margin-bottom: 15px;
	}
	.b-form__col2{
		._cb__col{width: 50%;}	
	}
	.form-control{
		border-radius: 0;
		height: 43px;
		border: 1px solid #d4d4d4;
		transition: @transition-site;
		margin-bottom: 15px;
		&:-moz-placeholder{
			font-size: 15px;
			color: #878787;
			transition: @transition-site;
		}
		&::-webkit-input-placeholder {
			font-size: 15px;
			color: #878787;		
			transition: @transition-site;
		}
		&:focus{
			border: 1px solid @dark-green;
			box-shadow: none;
			&:-moz-placeholder{
				color: @dark-green;
			}
			&::-webkit-input-placeholder {
				color: @dark-green;
			}
		}

		
	}
	textarea.form-control{
		padding: 15px 12px;
		height: 110px; 
	}
	.btn-site{
		font-family: @proxima-bold;
		font-size: 16px;
		padding: 0px 32px;
		margin-top: 5px;
	}
}
.b-doc-list {
	margin: 0 0 30px 0;
	max-width: 640px;

	.doc-item {
		//padding-left:45px;
		margin-bottom:35px;
		#fe.bpos(left top);
		#fe.brep();
		display: flex;
    	align-items: center;
		a {
			#fe.size(16px);
			#fe.color(#364ca8);
			#fe.ff(@proxima);
			//#fe.underline();
			//#fe.lh(1em);    
			line-height: 22px;
			span{
				border-bottom: 1px solid #cdd2e9;
				transition:all @trans-speed ease;
			}
			&:hover {
				#fe.underline(none);
				span{
					border-color: transparent;
				}
			}
		}
		&:before{
			font-family: @icon;
			color: #f64117;
			font-size: 33px;
			line-height: 33px;
			float: left;
			margin-right: 10px;
		}
		&[data-ext="pdf"]{
			&:before{content: @icon-pdf;}
		}
		&[data-ext="doc"],
		&[data-ext="docx"]{
			&:before{content: @icon-doc;}
		}
		&[data-ext="xls"],
		&[data-ext="xlsx"]{
			&:before{content: @icon-xls;}
		}
		
		/*&[data-ext="pdf"] {
			#site.bi('default/.doc-item/pdf.png');
		}*/
		
	}
	
}
.b-news-list {
	
	.news-item {
		padding:0 12px 65px;
		
		.created_at {
			margin-bottom:8px;
			#fe.bold(400);
			#fe.color(#999999);
			#fe.size(14px);
			#fe.lh(25px);
			#fe.ff(@proxima);
		}
		.title {
			#fe.lh(20px);
			a {
				#fe.bold(400);
				#fe.color(#000000);
				#fe.size(22px);
				#fe.ff(@bebas);
				letter-spacing: .9px;
				text-decoration: none;
				span{
					border-bottom: 1px solid transparent;
					transition:all @trans-speed ease;
				}
				&:hover,
				&:focus{
					text-decoration: none;
					span{
						border-color: #000000;
					}
				}
			}
		}
		.preview {
			margin:8px 0 13px;
			#fe.bold(400);
			#fe.color(#000000);
			#fe.size(16px);
			#fe.lh(23px);
			#fe.ff(@proxima);
		}
		.more {
			a {
				#fe.bold(400);
				#fe.color(#364ca8);
				#fe.size(18px);
				#fe.lh(24px);
				//#fe.underline();
				#fe.ff(@bebas);
				letter-spacing: .9px;
				span{
					border-bottom: 1px solid #c6cce3;
					transition:all @trans-speed ease;
				}				
				&:hover,
				&:focus {
					#fe.underline(none);
					span{
						border-color: transparent;
					}
				}				
				&:hover{
					color: darken(#364ca8, 15%);
				}
			}
		}
	}	
}
.b-photogallery {
	
	.street-filters {
		margin:7px 0 24px;
		
		.bttn {
			display:inline-block;
			border:2px solid #364ca8;
			padding:5px 15px;
			transition:all @trans-speed ease;
			border-radius:0px;
			margin-right:25px;
			#fe.color(#000000);
			#fe.size(14px);
			#fe.bold(400);
			#fe.bg(transparent);
			#fe.ff(@proxima);
			#fe.uppercase();
			#fe.underline(none);
			letter-spacing: .4px;
			
			&:focus {
				#fe.bg(#364ca8);
				#fe.color(#ffffff);
			}
			
			&:hover {
				#fe.bg(#364ca8);
				#fe.color(#ffffff);
			}
			&.active{
				#fe.bg(#364ca8);
				#fe.color(#ffffff);
				cursor: default;
			}
		}
	}
	
	.date-filters {
		margin:20px 0;
		
		.bttn {
			display:inline-block;
			transition:all @trans-speed ease;
			margin-right:20px;
			#fe.color(#aeaeae);
			#fe.size(18px);
			#fe.bold(400);
			#fe.ff(@bebas);
			#fe.uppercase();
			#fe.underline();    
			letter-spacing: 1.3px;
			
			&:focus {
				#fe.color(#364ca8);
				#fe.underline(none);
			}
			
			&:hover {
				#fe.color(#364ca8);
			}
			
			&.archive {
				margin-left:30px;
				padding-left:25px;
				#fe.brep();
				#fe.bpos(left center);
				#site.bi('default/.date-filters/calendar.png');
			}
		}
	}
	
	.b-photo-list {
		
		.photo-item {
			display:block;
			margin:0 25px 30px 0px;
			#fe.bpos();
			#fe.bsize(cover);
			#fe.brep();
			#fe.h(305px);
		}
		
	}
}
.blue-box {
	position:relative;
	display:block;
	#fe.bg(#364ca8);
	
	.white-text {
		#fe.color(#ffffff);
		#fe.size(20px);
		#fe.lh(28px);
	}
	
	.doc-filter {		
		a {
			display:inline-block;
			transition:all @trans-speed ease;
			border:1px solid transparent;
			padding: 2px 5px;
			margin-right:15px;
			margin-bottom: 8px;
			#fe.size(18px);
			#fe.color(#ffffff);
			#fe.ff(@bebas);
			#fe.uppercase();
			#fe.underline(none);
		    letter-spacing: 1.1px;   
    		margin-left: -5px;
    		line-height: 24px;
			&:hover {
				#fe.color(#364ca8);
				#fe.bg(#ffffff);
				border-color:@white;
			}
			&.active{
				border-color:@white;
				&:hover {
					#fe.color(#ffffff);
					#fe.bg(transparent);
					border-color:@white;
					cursor: default;
				}
			}
		}
	}
	
	&:after {
		content:'';
		position:absolute;
		left:0;
		top:100%;
		border-top:30px solid #243889;
		border-left:30px solid transparent;
		//#fe.bg(#243889);
		#fe.w(30px);
		#fe.h(30px);
	}
}
.cert-cont {
	
	.cert-title {
		margin:55px 0 25px;
		#fe.ff(@proxima);
		#fe.size(25px);
		#fe.bold(400);
	}
	
	.cert-item {
		display:block;
		margin:0 auto;
		#fe.h(250px);
		#fe.bpos();
		#fe.brep();
		#fe.bsize(contain);
	}
	
}
.content-header {
	&.on-page-404 {
		margin:200px 0 0 auto;
		#fe.w(55%);
	}
}
.content-header {
	span {
		font-weight: 400;
		display:block;
		#fe.ff(@bebas-bold);
		#fe.color(#6ea93a);
		#fe.size(48px);
		#fe.lh(1em);
		#fe.uppercase();
		letter-spacing: 3px;
	}
	
	&.on-page-404 {
		span {
			#fe.size(44px);
			#fe.lh(1.2em);
		}
		a {
			font-weight: 400;
			cursor:pointer;
			#fe.color(#5b87b8);
			#fe.size(18px);
			#fe.ff(@bebas);
			#fe.uppercase();
			#fe.underline();
			#fe.lh(3.5em);
			letter-spacing: 1px;
			&:hover {
				#fe.underline(none);
			}
		}
	}
}
.content-margin {
		
	&.m-top-30 {
		margin-top:30px;
	}
	&.m-top-40 {
		margin-top:40px;
	}
	&.m-top-60 {
		margin-top:60px;
	}

	&.m-right-25 {
		margin-right:25px;
	}
	&.m-right-40 {
		margin-right:40px;
	}	
	&.m-right-60 {
		margin-right:60px;
	}

	&.p-left-80 {
		padding-left:80px;
	}
	&.p-left-110 {
		padding-left:110px;
	}
	&.p-left-180 {
		padding-left:180px;
	}
	&.p-left-185 {
		padding-left:185px;
	}
	&.p-left-190 {
		padding-left:190px;
	}

	&.p-top-bottom-15 {
		padding-top:15px;
		padding-bottom:15px; 
	}
	&.p-top-bottom-30 {
		padding-top:30px;
		padding-bottom:30px;
	}
	
	&.p-right-15 {
		padding-right:15px;
	}	
	&.p-right-30 {
		padding-right:30px;
	}	
	&.p-right-65 {
		padding-right:65px;
	}
	&.p-right-70 {
		padding-right:70px;
	}
	&.p-right-80 {
		padding-right:80px;
	}
	&.p-right-110 {
		padding-right:110px;
	}

	&.p-top-15 {
		padding-top: 15px;
	} 
	&.p-top-25 {
		padding-top: 25px;
	} 
	&.p-top-30 {
		padding-top: 30px;
	} 
	&.p-top-70 {
		padding-top: 70px;
	}
	&.p-top-90 {
		padding-top: 90px;
	} 
	&.p-top-100 {
		padding-top:100px;
	}   

	&.p-bottom-15 {
		padding-bottom:15px;
	}
	&.p-bottom-20 {
		padding-bottom:20px;
	}
	&.p-bottom-35 {
		padding-bottom:35px;
	}
	&.p-bottom-40 {
		padding-bottom:40px;
	}
	&.p-bottom-45 {
		padding-bottom: 45px;
	}
	&.p-bottom-50 {
		padding-bottom: 50px;
	}
	&.p-bottom-170 {
		padding-bottom:170px;
	}
	
}
.content-scroll {
	position:relative;
	overflow:hidden;
	#fe.h(100%);
	#fe.z(14);
	
	.content-scroll-cont {
		position:relative;
		overflow-y:auto;
		padding-right:10%;
		#fe.w(110%);
		#fe.h(100%);
		#fe.z(15);
	}
	
	.scroll-hide {
		#fe.w(100%);
		#fe.h(110%);
	}
	.scroll-element {
		#fe.w(104%);
		#fe.h(106%);
	}
	.scroll-hide .scroll-element .scroll-overflow {
		overflow-x: hidden;
	}
	.scroll-line{
		background-color: #d2d2d2;
	}
}
.content-text {
	display:block;
	text-align: left;
	font-weight: 400;
	#fe.color(#000000);
	#fe.size(17px);
	#fe.lh(28px);
	div, p, ul{
		margin-bottom: 10px;
	}
}
.page-content-cont {
	position: fixed;
	overflow:hidden;
	right: 0;
	left: 0;
	top:-100%;
	bottom:100%;
	z-index:10;
	transition:all @trans-speed ease;
	font-size:10px;
	#fe.bg(transparent);	
	&[data-state="default"] {
		top:-100%;
		bottom:100%;
		
		.content-cont {
			transition:all @trans-speed ease;
			transition-delay:@trans-speed;
			&.left {
				left:-100%;
				#fe.w(40%);
			}
			
			&.right {
				right:-100%;
				#fe.w(64%);
			}
			
		}
	}
	&[data-state="active"], &[data-state="active-0"] {
		top:0;
		bottom:0;
		
		.content-cont {
			
			&.left {
				left:0;
				#fe.w(40%);
			}
			
			&.right {
				right:0;
				#fe.w(64%);
			}
			
		}
	}
	
	&[data-state="active-1"] {
		top:0;
		bottom:0;
		
		.content-cont {
			
			&.left {
				left:0;
				#fe.w(57%);
				
				iframe.iframe-yandex-map, iframe.iframe-layout-map {
					display:block;
					position:absolute;
					left:0;
					top:0;
					border:none;
					#fe.w(100%);
					#fe.h(100%);
				}
			}
			
			&.right {
				right:0;
				#fe.w(43%);
			}
			
		}
		
	}
	&[data-state="active-2"] {
		top:0;
		bottom:0;
		
		.content-cont {
			
			&.top {
				display:block;
				height: auto;
			}
			
			&.left {
				top:8em;
				#fe.w(100%);
				
				iframe.iframe-yandex-map, iframe.iframe-layout-map {
					display:block;
					position:absolute;
					left:0;
					top:0;
					border:none;
					#fe.w(100%);
					#fe.h(100%);
				}
			}
			
			&.right {
				display:none;
			}
			
		}
	}
	.logotip{
		position:absolute;
		z-index:16;
		left: 3em;

	}
	.close-it {
		position:absolute;
		overflow:hidden;
		right:2em;
		//right:6em;
		top:5em;
		z-index:16;
		transform-origin:center center;
		transition:all @trans-speed / 2 ease;
		cursor:pointer;
		#fe.w(36px);
		#fe.h(36px);
		//#fe.bpos();
		//#fe.brep();
		//#fe.bsize(cover);
		//#site.bi('default/.page-content-cont/content-cont-cross.png');
		
		&:before, &:after {
			content:'';
			position:absolute;
			left:-50%;
			top:44%;
			#fe.w(200%);
			#fe.h(3px);
			#fe.bg(rgba(188, 188, 188, 1));
			transform-origin:center center;
		}
		&:before {
			transform:rotate(45deg);
		}
		&:after {
			transform:rotate(-45deg);
		}
		
		&:hover {
			transform:scale(0.9);
		}
	}
	
	.bear {
		position:absolute;
		display:block;
		right:5em;
		top:5em;
		#fe.z(15);
		#fe.w(139px);
		#fe.h(189px);
		#fe.bpos();
		#fe.brep();
		#fe.bsize(cover);
		#site.bi('default/.bear/bear-bg.png');
	}
	
	.office-cont {
		position:absolute;
		display:block;
		right: 12em;
    	top: 0;
   		padding: 10px 20px;
		transition:all @trans-speed ease;
		#fe.z(16);
		#fe.bold(400);
		#fe.color(#ffffff);
		#fe.ff(@proxima);
		#fe.bg(#6ea93a);
		
		.title {
			#fe.size(14px);
			#fe.lh(24px);
		}
		.phone {
			#fe.size(18px);
			#fe.lh(24px);
		}
		
		&:hover {
			#fe.bg(#42D0FF);
		}
	}
	
	.content-cont {
		position:absolute;
		overflow:hidden;
		transition:all @trans-speed ease;
		z-index:12;
		#fe.h(100%);
		
		&.top {
			display:none;
			left:0;
			top:0;
			#fe.w(100%);
			#fe.h(150px);
			#fe.bg(#ffffff);    
			height: 130px;
    		z-index: 14;
		}
		&.left {
			bottom:0;
			#fe.w(50%);
			#fe.bpos();
			#fe.brep();
			#fe.bsize(cover);
			#site.bi('default/.page-content-cont/content-cont-left-bg.png');
			/*position: relative;
			&:before{
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				background: fadeout(#24265f, 70%);
			}*/
			iframe.iframe-yandex-map, iframe.iframe-layout-map {
				display:none;
			}
		}
		&.right {
			bottom:0;
			z-index:14;
			#fe.w(50%);
			#fe.bg(transparent);
			
			&:before {
				content:'';
				position:absolute;
				left:30px;
				right:0;
				top:0;
				bottom:0;
				#fe.bg(#ffffff);
				#fe.z(-1);
			}
		}
		
	}
	
}
.right-bg {
	
	&:before {
		#fe.bpos(right bottom);
		#fe.brep();
	}
	
	&[data-right-bg="default"]:before {
		#site.bi('default/.right-bg/page-right-bg.png');
	}
	&[data-right-bg="default-doc"]:before {
		#site.bi('default/.right-bg/page-right-bg.png');
	}
	
	&[data-right-bg="page404"]:before {
		#site.bi('default/.right-bg/page404-right-bg.png');
	}
	
}
.index-info{
	@media @media-size-xs{
		width: 100%;
		margin-bottom: 50px;
		text-align: center;
		/*> div{
			margin: 0 auto;
    		max-width: 500px;
		}*/
	}
	@media @media-size-sm-p{
		width: 100%;
		margin-bottom: 35px;
		> div{
			margin: 0 auto;
    		max-width: 500px;
		}
	}
	@media @media-size-sm-l{
		width: 50%;
	}
	@media @media-size-md{
		width: 50%;
	}
	@media @media-size-lg{
		width: 60%;
	}
	@media @media-size-xl{
		width: 60%;
	}
	@media @media-size-xl1660{
		width: 70%;
	}
}
._ii__note{
	font-family: @bebas-bold;
	color:  #013333;	 
	margin-top: 20px;
	overflow: hidden;
	@media @media-size-xs{	
		font-size: 24px;
		line-height: 30px;
		text-align: center;
		margin: 0;
		padding: 15px;		
		background: rgba(255, 255, 255, 0.8);  
		max-width: 300px;
    	margin: 0 auto;
	}
	@media @media-size-sm-p{	
		font-size: 30px;
		line-height: 33px;
		margin: 0;
	}
	@media @media-size-sm-l{		
		font-size: 32px;
		line-height: 35px;
	}
	@media @media-size-md{		
		font-size: 32px;
		line-height: 35px;
	}
	@media @media-size-lg{		
		font-size: 47px;
		line-height: 50px;
	}
	@media @media-size-xl{		
		font-size: 52px;
		line-height: 55px;
	}
	@media @media-size-xl1660{		
		font-size: 72px;
		line-height: 75px;
	}
}
._ii__note-inner{	
    display: flex;
    flex-direction: column;
    align-items: flex-start;
	div, h1{
		background: rgba(255, 255, 255, 0.8);   
		padding: 5px 26px;
		margin: 0;
		font-size: inherit;
		&:nth-child(1){
			padding: 18px 26px 10px;
			letter-spacing: 3.1px;
		}
		&:nth-child(2){
			padding: 5px 26px 5px;
    		letter-spacing: 2.1px;
		}
		&:nth-child(3){
			padding: 10px 26px 5px;
    		letter-spacing: 2.4px;
			font-size: 35px;
			span{
				font-size: 72px;
			}
		}
	}
	@media @media-size-xs{	
		div,h1{
			padding: 0 0 5px!important;
			background: none;
			letter-spacing: 0!important;
			width: 100%;
			&:nth-child(3){
				font-size: 24px;
				line-height: 30px;
				padding-bottom: 0!important;
				span{
					font-size: 34px;
				}
			}
		}
	}
	@media @media-size-sm-p{
		div,h1{
			&:nth-child(3){
				padding: 10px 26px;
				span{
					font-size: 42px;
				}
			}
		}
	}
	@media @media-size-sm-l{	
		div,h1{
			&:nth-child(3){
				span{
					font-size: 42px;
				}
			}
		}
	}
	@media @media-size-md{	
		div,h1{
			&:nth-child(3){
				span{
					font-size: 42px;
				}
			}
		}
	}
}
._ii__btn{
	overflow: hidden;
}
._ii__btn-dark-blue{
	line-height: 54px;
	&:before{
		font-family: @icon;
		content: @icon-key;
		margin-right: 10px;
		font-size: 25px;
		line-height: 25px;
		vertical-align: middle;
		margin-left: 5px;
	}
}
.index-news{
	@media @media-size-xs{
		width: 100%;
	}
	@media @media-size-sm-p{
		width: 100%;
	}
	@media @media-size-sm-l{
		width: 50%;
	}
	@media @media-size-md{
		width: 50%;
	}
	@media @media-size-lg{
		width: 40%;
	}
	@media @media-size-xl{
		width: 40%;
	}
	@media @media-size-xl1660{
		width: 30%;
	}
}
._in__inner{
	margin-left: auto;
	max-width: 440px;
	@media @media-size-xs{
		max-width: 100%;
	}
	@media @media-size-sm-p{
		margin: 0 auto;
	}
}
._in__btn-yellow{
	text-align: right;
	overflow: hidden;
	.btn-yellow{
		line-height: 60px;
	}
	@media @media-size-xs{
		text-align: center;
		.btn-yellow{
			max-width: 250px;
		}
	}
}
._in__btn-group{
	align-items: flex-end;
	>div{
		width: 50%;
		overflow: hidden;
	}
	@media @media-size-xs{
		>div{width: 100%;}
		text-align: center;
	}

}
._in__btn-red,
._in__btn-blue{
	display: block;
	@media @media-size-xs{
		display: inline-block;
	}
}
._in__btn-blue{	
	font-size: 13px;
	line-height: 60px;
	@media @media-size-xs{
		padding: 0 15px;
	}
}
._in__btn-red{	
	font-size: 16px;
	line-height: 26px;
    text-align: center;
    padding: 45px 0; 
    span{
    	font-size: 70px;
    	line-height: 70px;
    	display: block;
    }
	@media @media-size-xs{
	    max-width: 240px;
	    width: 100%;
	    padding: 15px;
	}
	@media @media-size-sm{
    	padding: 25px 0; 
	}
	@media @media-screen-HD720 {
		padding: 20px 0;
	}
	@media @media-screen-WXGA768 {
		padding: 25px 0;
	}
}
._in__news-carousel{   
	max-width: 390px;
    margin-left: auto;	
	@media @media-size-xs{
		//max-width: 100%;    
		max-width: 340px;
    	margin: 0 auto;
	}
}
._in__news-carousel-inner{
	margin-right: -15px;
	margin-left: -15px;
	overflow: hidden;
}
._in__news-carousel-wow{
	padding-left: 15px; 
	padding-right: 15px; 
}
._in__carousel{
	background: @white; 
}
._in__item{
	padding: 20px 35px 60px;
	min-height: 170px;
	@media @media-size-xs{
		min-height: 200px;
	}
	@media @media-screen-HD720 {
		padding: 15px 35px 45px;
		min-height: 150px;
	}
}
._in__item-time{
	color: lighten(@black, 60%);
	font-size: 12px;
	line-height: 22px;
	text-transform: uppercase;
}
._in__item-heading{
	margin: 0;
	a{
		color: lighten(@black, 20%);
		font-size: 18px;
		line-height: 22px;
		font-family: @proxima-light;
		@media @media-size-xs{
			font-size: 16px;
			line-height: 20px;

		}
	}
}